@navBlu: #358FDA;
#header {
    // margin-top: 30px;
}
#footer {
    margin-top: 30px;
    border-top: 1px solid @gray-lighter;
    padding-top: 30px;
    color: @gray-light;
}
.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}
.post {
    margin-bottom: @line-height-computed;
    &:last-child {
        margin-bottom: 0;
    }
}
article {
    img {
        margin-bottom: @line-height-computed;
    }
}
.navbar{
    margin-bottom: 0px;
}
.navbar-default {
    background-color: @navBlu;
    border-color: darken(@navBlu, 10%);
    .navbar-nav>li>a, .navbar-brand {
        color: lighten(@navBlu, 35%);
        &:hover {
            color: lighten(@navBlu, 45%);
        }
    }
    .navbar-nav>.active>a, .navbar-nav>.active>a:hover, {
        background-color: lighten(@navBlu, 20%);
        color: darken(@navBlu, 10%);
        // color: lighten(@navBlu, 10%);
    }
    .navbar-toggle {
    	border-color: lighten(@navBlu, 30%);
    	&:hover, &:focus{
    		background-color: darken(@navBlu, 10%);
    	}
    	.icon-bar {
	    	background-color: lighten(@navBlu, 30%);
		}
    }
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%;
}
#head-carousel{
    margin-bottom: 30px;
}